.section {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 15px hsl(0, 0%, 50%);
}

.section__heading {
    border-bottom: 2px solid #dfdfdf;
    padding: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 767px) {
    .section__heading{
        display: flex;
        flex-direction: column;
    }
}