.form {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

@media(max-width: 767px) {
    .form {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}

.form__button {
    padding: 10px;
    background-color: teal;
    color: white;
    flex-basis: 15%;
    border: none;
    transition: background 1s, transform 1s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    cursor: pointer;
    transform: scale(1.1);
}

@media(max-width: 767px) {
    .form__button {
        margin-top: 10px;
    }
    .form__button:hover {
        transform: scale(1);
    }
}

.form__field {
    padding: 10px;
    flex-basis: 80%;
    border: 1px solid #dfdfdf;
}