.list {
    list-style-type: none;
    padding: 20px;
}

.list__button {
    width: 30px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    transition: background 1s;
}

.list__button:hover {
    cursor: pointer;
    background-color: hsl(0, 100%, 65%);
}

.list__button--done {
    background-color: green;
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 35%);
    cursor: pointer;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 2px solid #dfdfdf;
    padding: 10px;
    word-break: break-word;
}

.list__item--hidden {
    display: none;
}

.list__item--done {
    text-decoration: line-through;
}