.buttons {
    font-size: 15px;
}

@media(max-width: 767px) {
    .buttons{
        display: grid;
        grid-gap: 10px;
        margin: 20px;
    }
}

.buttons_button {
    background-color: white;
    border: none;
    color: teal;
    transition: color 1s;
}

.buttons_button:hover {
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.buttons_button:disabled {
    color: grey;
    cursor: auto;
}